/* General Content Setting */
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 48px;
    gap: 32px;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    width: 30%;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}
textarea{
    resize: none;
    height: 150px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}
.contact-part a{
    color: #0000FF;
}
.button-type2{
    width: fit-content;
}

/* Responsive */
@media only screen and (max-width:600px){
    .box{
        width: 45%;
    }
    .container{
        gap: 40px 5px;
    }
    .contact{
        text-align: center;
    }
}