/* General Setting */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F4F9F9;
}
p{
    line-height: 32px;
}
a{
    text-decoration: none;
	color: #FFFFFF;
}
.button-type1{
    background-color: #005EF7;
    padding: 10px 25px;
    cursor: pointer;
}
.button-type2{
    background-color: #005EF7;
    color: #FFFFFF;
    font-size: 12px;
    border: 1px #333333 solid;
    padding: 5px 12px;
    cursor: pointer;
}
.right-header .button-type1:hover{
	text-shadow: 0px 0px 1px #000;
	background:#292929;
    transition: 0.5s;
}
.clear {
    clear: both;
}

/* Header */
.header{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-header{
    margin-left: 2%;
}
.logo{
    background-image: url('../images/logo1.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 200px;
}
.right-header{
    display: flex;
    justify-content: space-evenly;
    margin-right: 2%;
    gap: 12px;
}

/* Navigation Bar */
.nav-bar {
	background: #333333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.menu li{
    list-style: none;
	float: left;
}
.menu li a {
	display:block;
	padding: 15px 30px;
}
.active, .menu li a:hover, .dropdown-content a:hover{
	background-color: #005EF7;
}
.menu li a:hover, .dropdown-content a:hover{
    transition: 0.5s;
}
.dropdown{
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#333333;
    z-index: 1;
}
.dropdown-content a {
    padding: 0;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    border-top: 2px black solid;
}
.subscription{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.icon-subscription{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.fb-icon{
    background-image: url('../images/facebook.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 28px;
}
.tw-icon{
    background-image: url('../images/twitter.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 28px;
}
.yt-icon{
    background-image: url('../images/youtube.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 28px;
}
.ig-icon{
    background-image: url('../images/instagram.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 28px;
}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    width: 30%;
    border: 2px black solid;
}
.newsletter input[type="text"]{
    border: none;
    border-bottom: 1px black solid;
    background: none;
    outline: none;
    width:80%;
}
.copyright{
    background-color: #005EF7;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 4px;
}

/* General Form Setting */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 60%;
}
.form-component{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login-form, .register-form{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 36px;
}
form a{
    color: #394BF4;
    font-weight: normal;
}
input[type="text"], input[type="password"], select, option{
    width: 100%;
    padding: 10px;
    background: none;
    outline: none;
}
input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: none;
}
input[type="button"]{
    color: #FFFFFF;
}
input[type="radio"]{
    display: block;
}
label{
     display: block;
    text-align: left;
} 
.warning{
    color:#FF0000;
    text-align: left;
}

/* Responsive */
@media only screen and (max-width:600px){
    .header{
        flex-direction: column;
        height: 180px;
        justify-content: space-evenly;

    }
    .button-type1{
        background-color: #005EF7;
        padding: 8px 20px;
        cursor: pointer;
    }
    .icon-subscription{
        gap: 12px;
    }
    .fb-icon{
        width: 20px;
        height: 20px;
    }
    .tw-icon{
        width: 20px;
        height: 20px;
    }
    .yt-icon{
        width: 20px;
        height: 20px;
    }
    .ig-icon{
        width: 20px;
        height: 20px;
    }
    .newsletter{
        width: 60%;
    }
}